<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papp.paylist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallet_icon"
        android:label="PayList"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Controller.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Model.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".View.InsertActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controller.PayListDetail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".View.FilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".View.StatsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>